<main class="bg-grey px-3 py-3">
    <header class="row">
        <div class="title col-12 col-md-6 col-lg-8">
            Overview
        </div>
        <div class="date-input col-12 col-md-6 col-lg-4 d-flex">
            <input type="date" value="2021-05-10" class="form-control form-control-sm" placeholder="Start date"
                aria-label="Start date">
            <div>&nbsp;-&nbsp;</div>
            <input type="date" value="2021-05-17" class="form-control form-control-sm" placeholder="End date"
                aria-label="End date">
        </div>
    </header>
    <div class="row mt-3">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="card shadow-sm stats">
                        <div class="card-body">
                            <div class="stats-title">Total Profit</div>
                            <div class="stats-amount">
                                <span class="stats-value">$95,595</span>
                                <span class="stats-change">+3.55%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card shadow-sm stats">
                        <div class="card-body">
                            <div class="stats-title">Total Expenses</div>
                            <div class="stats-amount">
                                <span class="stats-value">$12,789</span>
                                <span class="stats-change">+2.67%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card shadow-sm stats">
                        <div class="card-body">
                            <div class="stats-title">New Users</div>
                            <div class="stats-amount">
                                <span class="stats-value">1,984</span>
                                <span class="stats-change">+9.89%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-sales-report></app-sales-report>
        </div>

        <div class="col-lg-4">
            <app-top-product></app-top-product>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm orders">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <circle-progress
                                [percent]="62"
                                [title]="'62%'"
                                [outerStrokeColor]="'#ffffff'"
                                [innerStrokeColor]="'#7893fc'"
                                [titleColor]="'#ffffff'"
                            ></circle-progress>
                        </div>
                        <div class="col-8">
                            <div><span class="fs-1 orders-count">1860</span> / 3k Target</div>
                            <div>orders in period</div>
                        </div>
                    </div>
                </div>
            </div>
            <app-active-users></app-active-users>
        </div>
        <div class="col-md-6 col-lg-4">
            <app-upcoming-events></app-upcoming-events>
        </div>
        <div class="col-md-6 col-lg-4">
            <app-popular-categories></app-popular-categories>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8 recent-orders">
            <app-recent-orders></app-recent-orders>
        </div>
        <div class="col-md-4">
            <div class="card city-stats">
                <div class="card-body">
                    <div class="card-title heading-2">City Orders Statistics</div>
                </div>
            </div>
        </div>
    </div>
</main>