<main class="bg-grey px-3 py-3">
    <header class="row">
        <div class="title col-12 col-md-6 col-lg-8">
            Overview
        </div>
        <div class="date-input col-12 col-md-6 col-lg-4 d-flex">
            <input type="date" value="2021-05-10" class="form-control form-control-sm" placeholder="Start date"
                aria-label="Start date">
            <div>&nbsp;-&nbsp;</div>
            <input type="date" value="2021-05-17" class="form-control form-control-sm" placeholder="End date"
                aria-label="End date">
        </div>
    </header>
    <div class="row mt-3">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <app-stats [title]="'Total Profit'" [value]="95595" [change]="3.55"></app-stats>
                </div>
                <div class="col-sm-6 col-md-4">
                    <app-stats [title]="'Total Expenses'" [value]="12789" [change]="2.67"></app-stats>
                </div>
                <div class="col-sm-6 col-md-4">
                    <app-stats [title]="'New Users'" [value]="1984" [change]="9.89"></app-stats>
                </div>
            </div>
            <app-sales-report></app-sales-report>
        </div>
        <div class="col-lg-4">
            <app-top-product></app-top-product>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 col-lg-4">
            <app-orders-count></app-orders-count>
            <app-active-users></app-active-users>
        </div>
        <div class="col-md-6 col-lg-4">
            <app-upcoming-events></app-upcoming-events>
        </div>
        <div class="col-md-6 col-lg-4">
            <app-popular-categories></app-popular-categories>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8 recent-orders">
            <app-recent-orders></app-recent-orders>
        </div>
        <div class="col-md-4">
            <div class="card city-stats">
                <div class="card-body">
                    <div class="card-title heading-2">City Orders Statistics</div>
                </div>
            </div>
        </div>
    </div>
</main>