<div class="p-3 side-panel">
    <div class="side-item side-item--active row">
        <div class="col-md-2 side-item__icon">
            <i class="fa fa-home" aria-hidden="true"></i>
        </div>
        <div class="col-md-8 side-item__content">Dashboard</div>
        <div class="col-md-2 side-item__badge">
            <span class="badge bg-primary">6</span>
        </div>
    </div>
    <!-- group 1 management -->
    <div class="side-item side-item--title row">
        <div class="col-md-12">
            Management
        </div>
    </div>
    <div class="side-item row">
        <div class="col-md-2 side-item__icon">
            <i class="fa fa-pie-chart" aria-hidden="true"></i>
        </div>
        <div class="col-md-8 side-item__content">Analytics</div>
        <div class="col-md-2 side-item__badge">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
    </div>
    <div class="side-item row">
        <div class="col-md-2 side-item__icon">
            <i class="fa fa-users" aria-hidden="true"></i>
        </div>
        <div class="col-md-8 side-item__content">Customers</div>
        <div class="col-md-2 side-item__badge"></div>
    </div>
    <div class="side-item row">
        <div class="col-md-2 side-item__icon">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </div>
        <div class="col-md-8 side-item__content">Orders</div>
        <div class="col-md-2 side-item__badge"></div>
    </div>
    <div class="side-item row">
        <div class="col-md-2 side-item__icon">
            <i class="fa fa-tag" aria-hidden="true"></i>
        </div>
        <div class="col-md-8 side-item__content">Products</div>
        <div class="col-md-2 side-item__badge"></div>
    </div>
    <div class="side-item row">
        <div class="col-md-2 side-item__icon">
            <i class="fa fa-file-text" aria-hidden="true"></i>
        </div>
        <div class="col-md-8 side-item__content">Invoices</div>
        <div class="col-md-2 side-item__badge"></div>
    </div>
    <!-- group 2 pages -->
    <div class="side-item side-item--title row">
        <div class="col-md-12">
            Pages
        </div>
    </div>
    <div class="side-item row">
        <div class="col-md-2 side-item__icon">
            <i class="fa fa-lock" aria-hidden="true"></i>
        </div>
        <div class="col-md-8 side-item__content">Authentication</div>
        <div class="col-md-2 side-item__badge">
        </div>
    </div>
    <div class="side-item row">
        <div class="col-md-2 side-item__icon">
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
        <div class="col-md-6 side-item__content">Calendar</div>
        <div class="col-md-4 side-item__badge">
            <span class="badge bg-success">new</span>
        </div>
    </div>
    <!-- group 3 components -->
    <div class="side-item side-item--title row">

        <div class="col-md-12">
            Components
        </div>
    </div>
    <div class="side-item row">
        <div class="col-md-2 side-item__icon">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
        </div>
        <div class="col-md-8 side-item__content">Charts</div>
        <div class="col-md-2 side-item__badge"></div>
    </div>
    <div class="side-item row">
        <div class="col-md-2 side-item__icon">
            <i class="fa fa-cube" aria-hidden="true"></i>
        </div>
        <div class="col-md-8 side-item__content">UI Elements</div>
        <div class="col-md-2 side-item__badge"></div>
    </div>
</div>