/* You can add global styles to this file, and also import other style files */
body {
    font-family: inter, sans-serif;
}

/* override BS classes */
.card {
    margin-bottom: .5rem;
}

/* || Utilities */
.bg-grey {
    background-color: #f3f6f9;
}

.heading-2 {
    color: #223345;
    font-size: 1.25em;
    font-weight: 600;
}